
.icon-user:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-cog-alt:before { content: '\e803'; } /* '' */
.icon-dot:before { content: '\e804'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
